

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="script.js"></script>
        <title>My Site's Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <style>
            body {
                font-family: 'Century Gothic', Consolas, sans-serif;
                font-size: 13px;
            }
            
            p {
                margin-left: 380px;
                font-size: 15px;
            }
             
            h1, h2, h3 {
                font-family: "Century Gothic", 'consolas', serif;
                font-size: 15px;
                text-transform: uppercase;
                padding: 2px 15px 0px;
                color: #4B0082;
                text-align:left;
                text-shadow: 1px 1px 5px #696969;
                
            }
            
            #titlebar {
                opacity: .5;
                position: fixed;
                width: 100%;
                height: 54px;
                left: 0;
                top: 0;
                border-bottom: 1px solid #f1f1f1;
                z-index: 999;
                background-color: #f1f1f1;
             }
 
            #title {
                width: 397px;
                font-family: Consolas, 'PT Sans';
                font-size: 15px;
                text-transform: uppercase;
                margin: 20px auto;
                text-align: center;
                z-index: 999;
             }
            
            #title a, #title a:visited {
                font-weight: normal;
                text-transform: uppercase;
                text-decoration: none !important;
                letter-spacing: 5px;
                
            }  
            
            .menu_links {
                display:block;
                position:fixed;
                margin-top: 150px;
                margin-left: 50px;
            }


            .menu_links a, input[type=button] {
                width:80%;
                display:block;
                border: none;
                background-color:#D3D3D3;
                color: #4B0082;
                margin-top:5px;
                opacity:0.8;
                padding:10px 0px 10px 5px;
                font-family:'Century Gothic', consolas, sans-serif;
                font-size:15px;
                text-align: center;
                text-transform: lowercase;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
            }

            .menu_links a:hover, input[type=button]:hover {
                width:90%;
                padding:8px 0px 5px 10px;
                background-color: #4B0082;
                color: #D3D3D3;
                opacity:0.9;
                text-decoration: none;
                -webkit-transition: all 0.1s ease-in;
                -moz-transition: all 0.1s ease-in;
                -o-transition: all 0.1s ease-in;
            }
            
            .menu_links a:focus, input[type=button]:focus {
                width:90%;
                padding:8px 0px 5px 10px;
                background-color: #4B0082;
                color: #D3D3D3;
                opacity:0.9;
                text-decoration: none;
                -webkit-transition: all 0.1s ease-in;
                -moz-transition: all 0.1s ease-in;
                -o-transition: all 0.1s ease-in;
            }
            
            ul {
                position: fixed;
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 200px;
            }

            li a, input[type=button] {
                display: block;
                color: #4B0082;
                padding: 8px 0 8px 16px;
                text-decoration: none;
            }

            /* Change the link color on hover */
            li a, input[type=button]:hover {
                color: white;
            }
            
            li a, input[type=button]:focus {
                color: white;
            }
           
            
            form {
               
                width: 70%;
                margin-top: 50px;
                margin-left: 350px;
            }
            
            fieldset { 
                width:  70%;
                margin-top: 50px;
                     
            }
            input, legend {
                margin-bottom: 10px;
                padding: 5px;
            }
            select {
                width: 20%;
                padding: 15px 20px;
                border: none;
                border-radius: 4px;
                margin: 80px 15px 5px;
                background-color: #f1f1f1;
                
            }
            
            input[type=submit] {
                width: 100%;
            }
            option {
                font-family: 'Century Gothic', Consolas, sans-serif;
                font-size: 13px;
            }
            
            #addform, #updateform { 
                display: none;
                position: absolute;
                margin-top: 50px;
                margin-left: 120px;
            }
            
            #delform { 
                display: none;
                position: absolute;
                margin: 50px 150px 80px;
            }
            
            
            #gc {
                width: 100%;
                /*display: none;
                position: absolute;*/
            }
            
            #txtHint2 {
                width: 800px;
          
            }
                
            
            table {
                width: 70%;
                border-collapse: collapse;
                margin-left:  300px;
                margin-bottom:  15px;
            }

            table, td {
                border: 1px solid black;
                margin-top: 20px;
                padding: 5px;
                background-color: #f1f1f1;
                color:  teal;
            }
        
            th {
                border: 1px solid black;
                font-family: Consolas, sans-serif;
                color:  black;
                padding: 8px;
                font-size: 14px;
                font-style: oblique;
                text-transform: uppercase;
            }

            th {text-align: left;}
            
           #demo {
                margin-top: 50px;
                margin-left: -80px;
                
            }
                
                
        </style>

        
    </head>
    <body>
        <!----<div id="titlebar"><div id="title"><a href="http://www.scs.ubbcluj.ro/~paie1803/Default.cshtml">VACATION DESTINATIONS</a></div></div>-->
        <div id="titlebar"><div id="title"><a href="/">VACATION DESTINATIONS</a></div></div>
        <div class="menu_links"> 
           <ul>
                <li><input id="add" type="button" value="Add"></li>
                <li><input id="delete" type="button" value="Delete"></li>
                <li><input id="update" type="button" value="Update"></li>
                <li><input id="show" type="button" value="Show All"></li>
            </ul>
        </div>
     
        <div id="gc">
        <form>
            Select a country
            <select name="countries" onchange="showDest(this.value)">
              <option value="Australia">Australia</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Greece">Greece</option>
              <option value="Italy">Italy</option>
              <option value="Japan">Japan</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Peru">Peru</option>
              <option value="United States">United States</option>
             </select>
        </form>
        <br>
        
        </div>
        <div id="txtHint"><p><b>Vacation destinations info for individual countries will be listed here...</b></p></div>
      
        <!-- ADD FORM -->
        <div id="addform">
        <form method="POST" id='myForm'>
            <fieldset>
              <legend>Add destination:</legend>
            Location Name: <input id="location" type="text" name="location"><br>
            Country: <input id="country" type="text" name="country"><br>
            Description: <textarea id="descr" name="descr" rows="4" cols="30"></textarea><br><br>
            Tourist Target: <input id="tour"type="text" name="tour"><br>
            Cost/Day: <input id="cost" type="text" name="cost"><br>
            <input type="submit" class="submitAdd">
                <span class="error" style="display:none"> Please enter valid data!</span>
                <span class="success" style="display:none"> New record added successfully.</span>
            </fieldset>
        </form>
            <br>
             <div id="txtHint2"><p><b>The result will be listed here...</b></p></div>

        </div>

        <!-- DELETE FORM-->
        <div id="delform">
            <form method="POST" id='deleteForm'>
                <fieldset>
                  <legend>Choose the destination to delete:</legend>
                ID: <input id="id" type="text" name="id"><br>
                <input type="submit" class="submitDel">
                    <span class="error" style="display:none"> Please enter valid data!</span>
                    <span class="success" style="display:none"> Record deleted successfully.</span>
                </fieldset>
            </form>
        </div>


        <!-- UPDATE FORM -->
        <div id="updateform">
        <form method="POST" id='upform'>
            <fieldset>
              <legend>Update the information for a destination:</legend>
            Location Name: <input id="location2" type="text" name="location"><br>
            Country: <input id="country2" type="text" name="country"><br>
            Description: <textarea id="descr2" name="descr" rows="4" cols="30"></textarea><br><br>
            Tourist Target: <input id="tour2"type="text" name="tour"><br>
            Cost/Day: <input id="cost2" type="text" name="cost"><br>
            <input type="submit" class="submitMod">
                <span class="error" style="display:none"> Please enter valid data!</span>
                <span class="success" style="display:none"> Record modified successfully.</span>
            </fieldset>
        </form>
            <br>
            <div id="txtHint2"><p><b></b></p></div>
        </div>
       


    </body>
</html>
